*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #e8e8e8;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    padding: 10px 12px;
    z-index: 2;
}

main{
    margin-top: 46px;
    width: 100%;
    z-index: 1;
}

.container{
    width:100%;
    padding-right:15px;
    padding-left:15px;
    margin-right:auto;
    margin-left:auto
}

.tabs_container{
    border-bottom: 1px solid grey;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    margin: 14px 0;
}

.tabs_list{
    display: flex;
    align-items: center;
    margin-top: 16px;
    cursor: pointer;
}

.tab_customize_btn{
    margin-top: 16px;
    font-size: 14px;
}

.tabs_list > .tab_item{
    list-style: none;
    margin-right: 16px;
    font-size: 16px;
}

.active{
    border-bottom: 2px solid #000;
    font-weight: 700;
}

.tab_customize_btn{
    color: #4f6af0;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
}

.card_container{
    margin: 16px 10px;
}

.card{
    height: calc(100vh - 15px);
    width: 100%;
    position: relative;
    background: #fff;
}

.card_body{
    height: calc(100% - 50px);
    width: 100%;
    padding-bottom: 10px;
    overflow-x: hidden;
}

.card_body::-webkit-scrollbar {
    width: 1px;
    height: 5px;               /* width of the entire scrollbar */
}
  
.card_body::-webkit-scrollbar-track {
    background: transparent;        /* color of the tracking area */
}
  
.card_body::-webkit-scrollbar-thumb {
    background-color: rgb(173, 181, 189);    /* color of the scroll thumb */
    border-radius: 5px;       /* roundness of the scroll thumb */
    /*border: 3px solid orange;  /* creates padding around scroll thumb */
}

.card_tabs_list{
    padding: 10px 16px;
}

.card_tab_item{
    background: #d3d3d4;
    font-size: 14px;
    margin: 8px;
}

.card_form_group{
    padding: 10px 14px;
    margin: 5px;
}

.form-row {
    display:flex;
    flex-wrap:wrap;
    margin-right:-5px;
    margin-left:-5px
}
.form-row>.col,.form-row>[class*=col-]{
    padding-right:5px;
    padding-left:5px
}

.form-label{
    display: block;
    color: #626365bf;
    font-size: 14px;
}

.form-control{
    display: block;
    width: 100%;
    padding: 2px 3px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    border: 1px solid grey;
    border-radius: 3px;
}

.form-select{
    display: block;
    width: 100%;
    padding: 4px 3px;
}

.form-group{
    display:flex;
    flex:0 0 auto;
    flex-flow:row wrap;
    align-items:center;
    margin-bottom:1.2rem
}

.shirt_size_group{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.shirt_size_group > span{
    font-size: 12px;
    color: #4f6af0;
}

.avatar_img_section{
    background-color: #efefef;
    width: 90px;
    height: 228px;
}

 .avatar_img_container{
    height: 120px;
    width: 120px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 5px;
}

.profile_img{
    height: 100%;
    width: 100%;
    border: 1px solid grey;
    border-radius: 50%;
}

.avatar_upload_btn_section{
    text-align: center;
}

.help_text{
    font-size: 12px;
}

.avatar_upload_btn{
    border: 1px solid #a9aaadbf;
    border-radius: 5px;
    background: none;
    padding: 5px 10px;
    width: 50%;
    font-size: 14px;
    font-weight: 700;
    margin: 5px auto;
}

.avatar_upload_btn_section > div{
    width: 50%;
    font-size: 14px;
    color: #626365bf;
    margin-left: auto;
    margin-right: auto;
}

.card_footer{
    width: 100%;
    background-color: #d3d3d4;
    padding: 10px 5px;
    display: flex;
    justify-content: flex-end;
}

.footer_btn_container > button{
    margin-right: 10px;
}

.tab_active{
    background: #969696;
    font-weight: bold;
}

.btn{
    padding: 7px 14px;
    border: none;
    border-radius: 3px;
}

.btn-secondary{
    background: #6c757d;
    color: #fff;
}

.m-0 {margin:0!important}
.mt-0,.my-0 {margin-top:0!important}
.mr-0,.mx-0 {margin-right:0!important}
.mb-0,.my-0 {margin-bottom:0!important}
.ml-0,.mx-0 {margin-left:0!important}
.m-1 {margin:.25rem!important }
.mt-1,.my-1 {margin-top:.25rem!important}
.mr-1,.mx-1 {margin-right:.25rem!important}
.mb-1,.my-1 {margin-bottom:.25rem!important}
.ml-1,.mx-1 {margin-left:.25rem!important}
.m-2 {margin:.5rem!important}
.mt-2,.my-2 {margin-top:.5rem!important}
.mr-2,.mx-2 {margin-right:.5rem!important}
.mb-2,.my-2 {margin-bottom:.5rem!important}
.ml-2,.mx-2 {margin-left:.5rem!important}
.m-3 {margin:1rem!important}
.mt-3,.my-3 {margin-top:1rem!important}
.mr-3,.mx-3 {margin-right:1rem!important}
.mb-3,.my-3 {margin-bottom:1rem!important}
.ml-3,.mx-3 {margin-left:1rem!important}
.m-4 {margin:1.5rem!important}
.mt-4,.my-4 {margin-top:1.5rem!important}
.mr-4,.mx-4 {margin-right:1.5rem!important}
.mb-4,.my-4 {margin-bottom:1.5rem!important}
.ml-4,.mx-4 {margin-left:1.5rem!important}
.m-5 {margin:3rem!important}
.mt-5,.my-5 {margin-top:3rem!important}
.mr-5,.mx-5 {margin-right:3rem!important}
.mb-5,.my-5 {margin-bottom:3rem!important}
.ml-5,.mx-5 {margin-left:3rem!important}
.p-0 {padding:0!important}
.pt-0,.py-0 {padding-top:0!important}
.pr-0,.px-0 {padding-right:0!important}
.pb-0,.py-0 {padding-bottom:0!important}
.pl-0,.px-0 {padding-left:0!important}
.p-1 {padding:.25rem!important}
.pt-1,.py-1 {padding-top:.25rem!important}
.pr-1,.px-1 {padding-right:.25rem!important}
.pb-1,.py-1 {padding-bottom:.25rem!important}
.pl-1,.px-1 {padding-left:.25rem!important}
.p-2 {padding:.5rem!important}
.pt-2,.py-2 {padding-top:.5rem!important}
.pr-2,.px-2 {padding-right:.5rem!important}
.pb-2,.py-2 {padding-bottom:.5rem!important}
.pl-2,.px-2 {padding-left:.5rem!important}
.p-3 {padding:1rem!important}
.pt-3,.py-3 {padding-top:1rem!important}
.pr-3,.px-3 {padding-right:1rem!important}
.pb-3,.py-3 {padding-bottom:1rem!important}
.pl-3,.px-3 {padding-left:1rem!important}
.p-4 {padding:1.5rem!important}
.pt-4,.py-4 {padding-top:1.5rem!important}
.pr-4,.px-4 {padding-right:1.5rem!important}
.pb-4,.py-4 {padding-bottom:1.5rem!important}
.pl-4,.px-4 {padding-left:1.5rem!important}
.p-5 {padding:3rem!important}
.pt-5,.py-5 {padding-top:3rem!important}
.pr-5,.px-5 {padding-right:3rem!important}
.pb-5,.py-5 {padding-bottom:3rem!important}
.pl-5,.px-5 {padding-left:3rem!important}
.m-auto {margin:auto!important}
.mt-auto,.my-auto {margin-top:auto!important}
.mr-auto,.mx-auto {margin-right:auto!important}
.mb-auto,.my-auto {margin-bottom:auto!important}
.ml-auto,.mx-auto {margin-left:auto!important}


@media screen and (min-width: 576px) {
    .w-sm {
        max-width: 576px;
    }
    .container{max-width:540px}
}

@media screen and (min-width: 766px) {
    .w-md {
        max-width: 766px;
    }
    .container{max-width:720px}
}

@media screen and (min-width: 992px) {
    .w-lg {
        max-width: 992px;
    }

    .container{max-width:960px}
}
@media screen and (min-width: 1200px) {
    .w-xl {
        max-width: 1200px;
    }
    .container{max-width:1140px}
}

@media screen and (min-width: 1400px) {
    .w-xxl {
        max-width: 1400px;
    }
}

/* Define the number of columns */
.row {
    display: flex;
    flex-wrap: wrap;
}
  
/* Define the width of each column */
.col-1 { flex: 0 0 8.33%;  max-width: 8.33%; }
.col-2 { flex: 0 0 16.66%; max-width: 16.66%; }
.col-3 { flex: 0 0 25%;    max-width: 25%; }
.col-4 { flex: 0 0 33.33%; max-width: 33.33%; }
.col-5 { flex: 0 0 41.66%; max-width: 41.66%; }
.col-6 { flex: 0 0 50%;    max-width: 50%; }
.col-7 { flex: 0 0 58.33%; max-width: 58.33%; }
.col-8 { flex: 0 0 66.66%; max-width: 66.66%; }
.col-9 { flex: 0 0 75%;    max-width: 75%; }
.col-10 { flex: 0 0 83.33%; max-width: 83.33%; }
.col-11 { flex: 0 0 91.66%; max-width: 91.66%; }
.col-12 { flex: 0 0 100%;   max-width: 100%; }
  
/* Responsive layout - makes a one column layout */
@media (max-width: 576px) {
    .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
      flex-basis: 100%;
      max-width: 100%;
    }
}
  
/* Responsive layout - makes a two column layout */
@media (min-width: 576px) {
    .col-sm-1 { flex: 0 0 8.33%;  max-width: 8.33%; }
    .col-sm-2 { flex: 0 0 16.66%; max-width: 16.66%; }
    .col-sm-3 { flex: 0 0 25%;    max-width: 25%; }
    .col-sm-4 { flex: 0 0 33.33%; max-width: 33.33%; }
    .col-sm-5 { flex: 0 0 41.66%; max-width: 41.66%; }
    .col-sm-6 { flex: 0 0 50%;    max-width: 50%; }
    .col-sm-7 { flex: 0 0 58.33%; max-width: 58.33%; }
    .col-sm-8 { flex: 0 0 66.66%; max-width: 66.66%; }
    .col-sm-9 { flex: 0 0 75%;    max-width: 75%; }
    .col-sm-10 { flex: 0 0 83.33%; max-width: 83.33%; }
    .col-sm-11 { flex: 0 0 91.66%; max-width: 91.66%; }
    .col-sm-12 { flex: 0 0 100%;   max-width: 100%; }
}

@media (min-width: 768px) {
    .col-md-1 { flex: 0 0 8.33%;  max-width: 8.33%; }
    .col-md-2 { flex: 0 0 16.66%; max-width: 16.66%; }
    .col-md-3 { flex: 0 0 25%;    max-width: 25%; }
    .col-md-4 { flex: 0 0 33.33%; max-width: 33.33%; }
    .col-md-5 { flex: 0 0 41.66%; max-width: 41.66%; }
    .col-md-6 { flex: 0 0 50%;    max-width: 50%; }
    .col-md-7 { flex: 0 0 58.33%; max-width: 58.33%; }
    .col-md-8 { flex: 0 0 66.66%; max-width: 66.66%; }
    .col-md-9 { flex: 0 0 75%;    max-width: 75%; }
    .col-md-10 { flex: 0 0 83.33%; max-width: 83.33%; }
    .col-md-11 { flex: 0 0 91.66%; max-width: 91.66%; }
    .col-md-12 { flex: 0 0 100%;   max-width: 100%; }
}

@media (min-width: 992px) {
    .col-lg-1 { flex: 0 0 8.33%;  max-width: 8.33%; }
    .col-lg-2 { flex: 0 0 16.66%; max-width: 16.66%; }
    .col-lg-3 { flex: 0 0 25%;    max-width: 25%; }
    .col-lg-4 { flex: 0 0 33.33%; max-width: 33.33%; }
    .col-lg-5 { flex: 0 0 41.66%; max-width: 41.66%; }
    .col-lg-6 { flex: 0 0 50%;    max-width: 50%; }
    .col-lg-7 { flex: 0 0 58.33%; max-width: 58.33%; }
    .col-lg-8 { flex: 0 0 66.66%; max-width: 66.66%; }
    .col-lg-9 { flex: 0 0 75%;    max-width: 75%; }
    .col-lg-10 { flex: 0 0 83.33%; max-width: 83.33%; }
    .col-lg-11 { flex: 0 0 91.66%; max-width: 91.66%; }
    .col-lg-12 { flex: 0 0 100%;   max-width: 100%; }
}

@media (min-width: 1200px) {
    .col-xl-1 { flex: 0 0 8.33%;  max-width: 8.33%; }
    .col-xl-2 { flex: 0 0 16.66%; max-width: 16.66%; }
    .col-xl-3 { flex: 0 0 25%;    max-width: 25%; }
    .col-xl-4 { flex: 0 0 33.33%; max-width: 33.33%; }
    .col-xl-5 { flex: 0 0 41.66%; max-width: 41.66%; }
    .col-xl-6 { flex: 0 0 50%;    max-width: 50%; }
    .col-xl-7 { flex: 0 0 58.33%; max-width: 58.33%; }
    .col-xl-8 { flex: 0 0 66.66%; max-width: 66.66%; }
    .col-xl-9 { flex: 0 0 75%;    max-width: 75%; }
    .col-xl-10 { flex: 0 0 83.33%; max-width: 83.33%; }
    .col-xl-11 { flex: 0 0 91.66%; max-width: 91.66%; }
    .col-xl-12 { flex: 0 0 100%;   max-width: 100%; }
}
  